.container {
  background-color: #ffffff;
}
.col-sm-6, .page-header, .poll-page {
  text-align: center;
  color: #4F3A32;
}
.col-sm-6 {
  padding-bottom: 20px;
  background-color: #ffffff;
}
#pick-tree {
  text-align: center;
}
.form-control {
  text-align: left;
}
.links {
  color: #5F35BE;
}
.new-submission {
  display: block;
  clear: both;
  background-color: #ffffff;
  width: 100%;
}


/*HOMEPAGE*/
body {
  background: url('background.jpg');
}
.jumbotron {
  margin-top: 100px;
  background-color: rgba(0,0,0,0);
}
.text {
  color: #ffffff;
  opacity: 1.0;
  text-align: center;
}
.jumbotron a {
  font-size: 3em;
  margin-left: 30%;
  color: #703EA7;
}
.page-header {
  background-color: #ffffff;
}

/*BUTTONS*/
.btn {
  margin-top: 20px;
}
.plant {
  font-size: 1em;
  margin-left: 40%;
  margin-bottom: 20px;
}
.btn-primary {
  background-color: #4F3A32;
  border-color: #4F3A32;
}
.btn-primary:hover {
  background-color: #703EA7;
  border-color: #4F3A32;
}
a.button {
  color: #ffffff;
  text-shadow: #000000;
}
.new {
  margin-bottom: 20px;
}

#find_trees {
  margin-bottom: 20px;
}

/*NAVBAR*/
.navbar-custom {
  background-color: #858322;
}
.navbar-brand {
  color: #5F35BE;
}
