<div class="container">
  <div class="page-header">
    <h1>Pick your most desired forest</h1>
  </div>
  <% @categories.each do |category| %>
    <div class="col-sm-6">
      <h3><a class="links" href="/categories/<%= category.id %>/polls"><%= category.name %></a></h3>
      <p><%= category.description %></p>
    </div>
  <% end %>
</div>
