<div class="landing-page">
  <div class="jumbotron">
    <div class="text">
      <h1>Welcome to BloomingForest</h1>
      <p>It's voting season...</p>
      <a class="button" href="/categories">..embrace the blooms</a>
  </div>
  <div class="background"></div>
</div>
